body { font-family: 微软雅黑; }
input,
select,
textarea { font-family: 宋体; }

*{ margin:0; padding:0}
html,body,.wrap{ height:100%;}
body>.wrap{height:auto; min-height:100%;}
img{max-width: 100%;}
a{
	text-decoration: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
　　color: #AEAEAE;
}
input:-moz-placeholder, textarea:-moz-placeholder {
　　color:#AEAEAE;
}
input::-moz-placeholder, textarea::-moz-placeholder {
　　color:#AEAEAE;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
　　color:#AEAEAE;
}
.none{
	display: none;
}
.wrap { max-width:1200px; margin: 0 auto; position: relative;  }

a{
	color:#409EFF
}
/*----------mainer----------*/
.mainer { width: 10rem;margin: 0 auto;}